.lang {
	position: absolute;
	left: 2.5%;
	bottom: 25px;
	z-index: 1;
}

.lang ul {
	display: flex;
}

.lang li {
	margin-right: 20px;
}

.lang button {
	padding: 0;
	background: transparent;
	outline: none;
	border: none;
	color: #a0a0a0;
	cursor: pointer;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid transparent;
	transition: all .3s ease;
}

.lang .active button {
	color: #fff;
	border-bottom-color: #25ca7f;
}

.lang button:hover {
	color: #25ca7f;
}