.social {
	width: 40px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
}

.social i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	transition: all .5s ease;
}

.social i:hover {
	color: #25ca7f;
	transform: scale(1.3);
}