.home {
	padding: 0;
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.home:after {
	content: '';
	display: block;
	opacity: 0.5;
	background-color: #12171b;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.home .offer {
	text-align: center;
	position: relative;
	z-index: 2;
}

.home .offer h1 {
	margin-bottom: 15px;
	font-size: 70px;
	font-weight: 600;
	line-height: 1.2;
}

.home .offer p {
	font-size: 30px;
	font-weight: 300;
}