.work-process .ltr {
	text-align: right;
}

.work-process .rtl {
	text-align: left;
}

.work-process .item + .item {
	padding-top: 35px;
}

.work-process h4 {
	font-weight: 700;
	margin-bottom: 15px;
}

.work-process .step {
	margin: 0;
	color: #25ca7f;
	font-size: 25px;
	line-height: 50px;
}

.work-process .circle {
	position: relative;
	width: 100%;
	padding: 80px 0;
	margin-top: 12px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
}

.work-process .circle:before {
	content: '';
	position: absolute;
	width: calc(100% + 48px);
	height: calc(100% + 48px);
	top: -24px;
	left: -24px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.work-process .circle h4 {
	font-size: 40px;
	font-weight: 700;
	line-height: 62px;
	text-transform: uppercase;
}

.work-process .circle .dots {
	position: absolute;
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
	background-color: #25ca7f;
}

.work-process .circle .top-l {
	left: 0px;
	top: 50px;
}

.work-process .circle .bottom-l {
	left: 0px;
	bottom: 50px;
}

.work-process .circle .top-r {
	right: 0;
	top: 50px;
}

.work-process .circle .bottom-r {
	right: 0;
	bottom: 50px;
}