.portfolio-filter {
	text-align: center;
}

.portfolio-filter ul {
	display: inline-block;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, .1);
}

.portfolio-filter li {
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 25px;
	transition: all .3s;
}

.portfolio-filter li.active {
	color: #0e0f10;
	background-color: #25ca7f;
	border-radius: 50px;
}