.about .info .photo img {
	border-radius: 100%;
}

.about .info h4 {
	font-size: 18px;
}

.about .info .loc {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
	color: #25ca7f;
}

.about .info .loc i {
	margin-right: 5px;
}

.about .info p {
	margin-bottom: 1rem;
	font-size: 14px;
	line-height: 24px;
}

.about .info-icon {
	padding-top: 5px;
}

.about .info-icon i {
	margin-right: 15px;
	float: left;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #0e0f10;
	font-size: 20px;
	border-radius: 100%;
	border: 1px solid #25ca7f;
}

.about .desc-icon {
	padding-left: 15px;
	padding-top: 5px;
}

.about .desc-icon h6 {
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.about .desc-icon p {
	font-size: 12px;
	line-height: 21px;
	color: #25ca7f;
}