body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	color: #fff;
	overflow: hidden;
	letter-spacing: 0.8px;
	background-color: #1a2a41;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 600;
	line-height: 1.2;
}

h3 {
	font-size: 26px;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
}

a:hover {
	color: #25ca7f;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

section {
	padding-top: 70px;
	height: 100%;
	background-color: #0e0f10;
}

.pt-50 {
	padding-top: 50px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-40 {
	margin-bottom: 40px;
}

.header-box {
	margin-bottom: 50px;
	position: relative;
	text-align: center;
}

.header-box:before {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	left: calc(50% - 7px);
	bottom: -16px;
	border-radius: 50%;
	border: 3px solid #25ca7f;
}

.header-box h3:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	left: calc(50% - 45px);
	bottom: -10px;
	background-color: #25ca7f;
}

.header-box h3:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	left: calc(50% + 15px);
	bottom: -10px;
	background-color: #25ca7f;
}

.box {
	padding: 30px;
	margin-bottom: 100px;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
	position: relative;
}

.btn-st {
	position: relative;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 100;
	background-color: transparent;
	border: none;
	z-index: 2;
}

.btn-st:before, .btn-st:after {
	content: '';
	position: absolute;
	padding: 0px;
	transition: all .3s ease-in-out;
}

.btn-st:before {
	width: 40%;
	height: 200%;
	top: -50%;
	left: -15%;
	background: #0e0f10;
	border-radius: 10px;
	z-index: -1;
}

.btn-st:after {
	width: 110%;
	height: 10%;
	top: 105%;
	left: -5%;
	background: #25ca7f;
	z-index: 0;
}

.btn-st:hover:before {
	border-radius: unset;
	transform: translateX(120%) scaleX(3) scaleY(0.8);
}

.btn-st:hover:after {
	transform: translateX(-55%) translateY(-550%) rotate(90deg) scaleX(0.3);
}